.container {
    margin-left: 230px;
    padding: 20px;
    padding-top: 120px !important;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.artwork-card {
    display: flex;
    width: 90%; 
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px; 
    position: relative; /* Important pour positionnement absolu à l'intérieur */
}

.add-artwork-btn {
    background-color: #5D5A88;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2%;
    text-decoration: none;
}

.add-artwork-btn div{
    margin-top: 4px;
    margin-left: 5px;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.image-container img {
    width: auto;
    height: 120px;
    margin-right: 20px;
    border-radius: 4px;
}

.details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5D5A88;
}

.prize-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #5D5A88;
}

.details h2 {
    font-size: 1.4em; 
    margin: 0 0 10px 0;
}

.details .id {
    font-size: 0.9em;
}

.details .info {
    margin: 4px 0;
    color: #9896B8;
    font-size: 0.8em;
}

.details .date {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2px;
}

hr {
    border: none;
    height: 1px;
    background-color: #D4D2E3; 
    margin: 10px 0;
    width: 150px;
}
