.container {
    margin-left: 260px;
    padding-top: 2%;
    color: #5D5A88;
}

h1 {
    margin-left: 1%;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f9;
}

.left-panel, .right-panel {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.left-panel {
    margin-right: 20px; 
}

.right-panel {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card.large {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #5D5A88;
    color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    margin-bottom: 15px;
}

h2, h3 {
    margin: 10px 0;
}

