.container {
    margin-left: 260px;
    padding-top: 2%;
    color: #5D5A88;
}

h1 {
    margin-left: 1%;
    margin-bottom: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #f4f4f9;
    width: 80%;
    height: 500px;
}

.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
}

.right-panel {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 2px; 
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card.large {
    flex-grow: 1;
    padding: 40px;
    padding-top: 170px !important;
    background-color: #5D5A88;
    color: white;
}

.card-content {
    display: flex;
    flex-direction: column;  
    justify-content: flex-end;
    align-items: flex-start;  
    font-weight: bold;
    padding-top: 90px !important;
}

.title-1 {
    font-size: 1.6em;
    margin-top: 5px;
}

.card-content .value {
    margin: 10px 0 0 0;
    font-size: 2em;
    display: flex;
    flex-direction: row;
}

.value div {
    margin-left: 2px;
    color: #D4D2E3;
}

.card-content img {
    height: 40px;
}

.large .card-content .value {
    font-size: 3em !important; 
}

.large .card-content img {
    height: 92px !important;
}

.title-2 {
    font-size: 1.2em;
    margin-top: 5px;
}
