/* Style général pour tout le document */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Couleur de fond légère pour tout le document */
}

/* Styles pour la sidebar */
.sidebar {
    width: 12%;
    height: 100vh;
    background-color: #ffffff; /* Couleur de fond pour la barre latérale */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    position: fixed !important;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px; /* Espace entre les infos utilisateur et le menu */
}

.avatar {
    width: 50px; /* Taille de l'avatar */
    height: 50px;
    background-color: #ccc; /* Couleur de fond en attendant une image */
    border-radius: 25px; /* Rendre l'avatar circulaire */
}

.user-name {
    font-weight: bold;
    color: #333; /* Couleur du texte pour le nom de l'utilisateur */
}

/* Styles pour le menu de navigation */
.menu {
    list-style: none; /* Enlever les puces des listes */
    padding: 0; /* Enlever le padding par défaut */
    margin: 0; /* Enlever la marge par défaut */
}

.menu-item {
    padding: 10px 15px; /* Padding autour des items pour un meilleur clic */
    margin-bottom: 10px; /* Espace entre chaque item */
    cursor: pointer;
    transition: background-color 0.3s; /* Animation légère pour le survol */
}

.menu-item a {
    color: #333; /* Couleur des liens dans le menu */
    text-decoration: none; /* Enlever le soulignement des liens */
    display: block; /* Étendre la zone cliquable à tout le bloc */
}

.menu-item.active, .menu-item:hover {
    background-color: #eee; /* Changement de fond lors du survol */
}

.menu-item.logout a {
    color: #d9534f; /* Couleur rouge pour l'option de déconnexion */
}

.menu-item.logout:hover {
    background-color: #d9534f; /* Fond rouge lors du survol pour déconnexion */
    color: white;
}

.menu-item.logout a:hover {
    color: white;
}
