/* Style général pour tout le document */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
}

/* Styles pour la sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: white; 
    padding: 20px;
    position: fixed !important;
}

.avatar {
    width: 50px; 
    height: 50px;
    background-color: #ccc; 
    border-radius: 25px; 
}

.user-name {
    font-weight: bold;
    color: #333; 
}

/* Styles pour le menu de navigation */
.menu {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.menu-item {
    padding: 10px 15px; 
    margin-bottom: 10px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    display: flex;
    flex-direction: row;
    color: #302C66;
}

.menu-item img {
    width: 20px; 
    padding-right: 5px;
}

.menu-item a {
    color: #5D5A88;
    text-decoration: none; 
    display: block; 
}

.menu-item.active, .menu-item:hover {
    background-color: white; 
}

.logout {
    position: absolute;
    bottom: 15%;
    left: 30px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout a {
    text-align: center;
    text-decoration: none; 
    display: block; 
    border-radius: 4px;
    background-color: #5D5A88;
    padding: 16px 24px;
    color: white;
}

.top {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
}

.user-profile {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    margin-left: 260px;
    color: #5D5A88;
}

.user-avatar {
    width: 40px; 
    height: 40px; 
    background-color: #e0e0e0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    font-weight: bold; 
}

.user-name {
    margin-left: 10px; 
    color: #5D5A88;
}

.logo {
    height: 80px;
    margin-left: 30px;
    padding-bottom: 40px;
}
